body {
  margin: 0 auto;
  user-select: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

h1 {
  padding-left: 1vw;
  font-size: 3vh;
}

.menuBurger {
  padding: 3vh 2vw 0 0;
}

.timer {
  padding: 5vh 0 0 15vw;
}

.content {
  display: flex;
  justify-content: space-between;
}

.question {
  padding: 10vh 0vh 0vh 1vw;
  font-size: 3vh;
  width: 50vw;
}

.question img {
  width: 50vw;
}

.answers {
  background-color: #fff;
  width: 39vw;
}

.answersWrapper {
  padding-top: 10vh;
  font-size: 3vh;
}

.hoverAnswer {
  padding: 1vw;
  border: 5px solid transparent;
}

.hoverAnswer:hover {
  border-color: #ecc92b;
  cursor: pointer;
}

.hoverAnswer:active {
  background-color: #ecc92b;
}

.rightAnswer {
  background-color: rgba(2, 187, 2, 0.5);
}

.falseAnswer {
  background-color: rgba(234, 111, 111, 0.5);
}

div.buttonNext,
.more {
  position: absolute;
  left: 66vw;
  top: 80vh;
  width: 4vw;
  height: 5vh;
  text-align: center;
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-shadow: -2px 2px rgba(255, 255, 255, 0.3);
  line-height: 1.1;
  padding: 0.5em 3em 0.5em 0.6em;
  background: linear-gradient(#ecc92b, #fce25b);
  box-shadow: 0 0 0 1px #fce25b inset, -1px 0px rgb(220, 195, 35),
  -1px 1px rgb(192, 167, 7), -2px 1px rgb(219, 194, 34),
  -2px 2px rgb(191, 166, 6), -3px 2px rgb(218, 193, 33),
  -3px 3px rgb(190, 165, 5), -4px 3px rgb(217, 192, 32),
  -4px 4px rgb(189, 164, 4), -5px 4px rgb(216, 191, 31),
  -5px 5px rgb(188, 163, 3), -6px 5px rgb(215, 190, 30),
  -6px 6px rgb(187, 162, 2), -7px 6px rgb(214, 189, 29),
  -7px 7px rgb(186, 161, 1), -8px 7px rgb(213, 188, 28),
  -8px 8px rgb(185, 160, 0), -7px 9px 1px rgba(0, 0, 0, 0.4),
  -5px 11px 1px rgba(0, 0, 0, 0.2), -1px 13px 4px rgba(0, 0, 0, 0.2),
  4px 16px 7px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.more {
  width: 20vw;
}

div.buttonNext:active,
.more:active {
  box-shadow: none;
  -webkit-transform: translate(-7px, 8px);
  transform: translate(-7px, 8px);
}

div.buttonNext:after,
.more::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.6em / 2);
  right: 0.6em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: 0.37em solid;
  border-top: none;
  border-left: none;
  width: 0.6em;
  height: 0.6em;
  box-shadow: inset -2px 2px rgba(255, 255, 255, 0.3);
}

#secWatch {
  padding: 5vh 2vw 0 0;
  font-size: 3vh;
}

.endList {
  font-family: Georgia, serif;
  font-size: 3vw;
}

.progress {
  width: 0%;
  height: 2px;
  background-color: #ecc92b;
  transition-duration: 500ms;
}

.restart {
  position: absolute;
  left: 10vw;
  top: 81vh;
  width: 15vw;
  height: 5vh;
  text-align: center;
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-shadow: -2px 2px rgba(255, 255, 255, 0.3);
  line-height: 1.1;
  padding: 0.5em 3em 0.5em 0.6em;
  background: linear-gradient(#ecc92b, #fce25b);
  box-shadow: 0 0 0 1px #fce25b inset, -1px 0px rgb(220, 195, 35),
  -1px 1px rgb(192, 167, 7), -2px 1px rgb(219, 194, 34),
  -2px 2px rgb(191, 166, 6), -3px 2px rgb(218, 193, 33),
  -3px 3px rgb(190, 165, 5), -4px 3px rgb(217, 192, 32),
  -4px 4px rgb(189, 164, 4), -5px 4px rgb(216, 191, 31),
  -5px 5px rgb(188, 163, 3), -6px 5px rgb(215, 190, 30),
  -6px 6px rgb(187, 162, 2), -7px 6px rgb(214, 189, 29),
  -7px 7px rgb(186, 161, 1), -8px 7px rgb(213, 188, 28),
  -8px 8px rgb(185, 160, 0), -7px 9px 1px rgba(0, 0, 0, 0.4),
  -5px 11px 1px rgba(0, 0, 0, 0.2), -1px 13px 4px rgba(0, 0, 0, 0.2),
  4px 16px 7px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.restart:active {
  box-shadow: none;
  -webkit-transform: translate(-7px, 8px);
  transform: translate(-7px, 8px);
}

.restart::after {
  content: url("update-arrow.png");
  position: absolute;
  top: calc(30% - 0.6em / 2);
  right: 0.6em;
}

.gridAnswers{
  width: 99vw;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.tableAnswers{
  text-align: left;
  width: 99vw;
  font-size: 2vw;
}

.tableAnswers th{
  border-bottom: 3px solid #000;
}

.tableAnswers td{
  padding-top: 5vh;
  border-bottom: 3px solid #ecc92b;
}

.trueNd{
  background-color: #80dd80
}

.falseNd{
  background-color: #f4b6b6
}