body {
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
}

h1 {
  padding-left: 10vw;
}

.menuBurger {
  padding: 5vh 2vw 0 0;
}

.timer {
  padding: 5vh 0 0 15vw;
}

.content {
  display: flex;
  justify-content: space-between;
}

.question {
  padding: 10vh;
  font-size: 5vh;
}

.answersWrapper {
  padding: 10vh 15vw;
  font-size: 5vh;
}

.hoverAnswer {
  padding: 1vw;
}

.hoverAnswer:hover {
  border: solid 5px red;
}

.hoverAnswer:active {
  background-color: #555;
}

.rightAnswer {
  background-color: rgba(24, 111, 111, 0.5);
}

.falseAnswer {
  background-color: rgba(234, 111, 111, 0.5);
}

.btnNext {
  position: relative;
  left: 80vw;
  top: -5vh;
  width: 4vw;
  height: 5vh;
  text-align: center;
  border: solid #f1f1f1 2px;
  cursor: pointer;
}
